<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{.Title}} | GLK Web App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Description}}">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link href="/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="authentication-bg min-vh-100">
    <div class="bg-overlay bg-light"></div>
    <div class="container">
        <div class="d-flex flex-column min-vh-100 px-3 pt-4">
            <div class="row justify-content-center my-auto">
                <div class="col-md-8 col-lg-6 col-xl-5">

                    <!-- Logo -->
                    <div class="mb-4 pb-2">
                        <a href="/" class="d-block auth-logo">
                            <img src="/static/images/glk-assets/Logo-Guru-Lesku-ID.png" alt="logo" height="30" class="auth-logo-dark me-start">
                            <img src="/static/images/glk-assets/Logo-Guru-Lesku-ID.png" alt="logo" height="30" class="auth-logo-light me-start">
                        </a>
                    </div>

                    <!-- Auth Card -->
                    <div class="card">
                        <div class="card-body p-4">
                            {{embed}}
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center p-4">
                        <p>&copy; <script>document.write(new Date().getFullYear())</script> GLK Web App.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/libs/metismenujs/metismenujs.min.js"></script>
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/libs/eva-icons/eva.min.js"></script>
<script src="/static/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="/static/js/pages/pass-addon.init.js"></script>

{{block "scripts" .}}{{end}}
</body>
</html>
